#view {
	float: left;
	margin-right: 2em;
}

#controls button {
	padding: 0.5em 1em 0.5em 1em;
}

#move, #reset {
	margin-top: 1em;
}

#moon {
	position: relative;
	width: 300px;
	height: 300px;
	border: solid 1px #ccc;
	background: #efefef;
}

#lander {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #000;
}

#rover {
	position: fixed;
	z-index: 2;
	width: 15px;
	height: 15px;
	background: #f00;
}