.canvasSection {
  width: 100%;
  order: 1;
}

#canvas {
  display: block;
  width: 100%;
  height: 150px;
  align-content: center;
  justify-content: center;
  border: 1px solid #676767;
  border-radius: 5px;
}

#canvas.fail {
  background-color: #e6b7a9;
}

@media only screen
and (min-width : 600px) {
  .canvasSection {
    order: 2;   
  }
  #canvas {
    width: 100%;
    height: 350px;
    margin: 1em;
  }  
}
