.Grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: 1em;
}

@media (max-width: 400px) {
  .Grid {
    display: block;
  }
}
