@import url('https://fonts.googleapis.com/css?family=Arvo');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'Arvo', serif;
  color: black;
}

html, body {
  height: 100%;
  font-size: 12px;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  body {
    font-size: 15px;
  }
}
