.ItemImage {
  order: 2;
}

.ItemImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen
and (min-width : 600px) {
  .ItemImage {
    order: 1;
  }
  .ItemImage img {
    width: 350px;
  }
}
