.add {
  font-size: 1.2em;
  width: 95%;
  margin: 0 auto;
}

.back {
  padding: 0.5em;
  border: 1px solid #898989;
  font-size: 0.8em;
}

.back:hover {
  cursor: pointer;
  background-color: rgb(206, 235, 206);
}

.form {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 255, 0.75);
}

.form fieldset {
  display: flex;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 0.2em;
  margin: 0 auto;
}

.form label {
  display: block;
  width: 100%;
  text-align: center;
}

.form input {
  display: block;
  font-size: inherit;
  padding: 0.3em;
  border: 1px dashed black;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.form .button {
  margin-top: 0.8em;
  font-size: inherit;
  text-transform: uppercase;
  width: 100%;
  padding: 0.8em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button.active {
  background-color: rgb(174, 224, 174);
}

button.active:hover {
  cursor: pointer;
  background-color: rgb(154, 204, 154);
}

.errorMessage {
  width: 50%;
  margin: 0 auto;
  color: white;
  text-align: center;
  padding: 0.2em;
}

.errorMessage.active {
  color: red;
  transition: color 0.2s linear
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 800px) {
  .add {
    width: 70%;
    margin: 0 auto;
  }
}
