.app {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  min-height: 100vh;
}

.section {
  margin-bottom: 2em;
}

.sectionHeader {
  font-size: 1.6em;
  text-align: center;
  padding: 0.5em;
  margin: 0.5em 0 0.3em 0;
  text-transform: uppercase;
}
