.FilterBar {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.FilterLabel {
  font-weight: 900;
  text-decoration: underline;
}

.FilterBarGroup.active {
  background-color: #dfdfdf;
}

.FilterLabel {
  margin-right: 0.5em;
  padding: 0.2em;
  text-transform: uppercase;
}

.FilterBarType:not(:first-child) {
  margin-left: 0.5em;
}

.FilterBarGroup:hover {
  cursor: pointer;
}

.FilterBarGroup {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.FilterBar .Star {
  display: flex;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  background-color: transparent;
  background-image: url("../images/if_star_285661.svg")
}

.FilterBarGroup input[type="checkbox"] {
  margin-right: 0.5em;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .FilterBar {
    flex-direction: row;
  }
}
