.Header {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
  font-size: 2em;
  justify-content: center;
}

.Header a {
  text-decoration: none;
}

.Header span.blue {
  color: #005EB8;
}

.Header span.orange {
  color: #FA7823;
}
