.Ratings {
  margin-top: 0.5em;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  color: #005EB8;
  font-size: 1em;
}

.Ratings .RatingsText {
  display: flex;
  flex-direction: row;
  margin-top: 0.7em;
}

.Ratings .RatingTitle,
.Ratings .RatingCount {
  margin-left: 0.2em;
  font-size: 1em;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .Ratings {
    display: flex;
    flex-direction: row;
    color: #005EB8;
    font-size: 1em;
  }
  .Ratings .RatingTitle,
  .Ratings .RatingCount {
    margin-left: 0.5em;
    font-size: 1em;
  }
  .Ratings .RatingAvg {
    margin-left: 1em;
  }
  .Ratings .RatingsText {
    margin-top: 0.1em;
  }
}
