header {
	margin-top: 2em;
  margin-bottom: 2em;
}

h1 {
	text-align: center;
	font-size: 1.8em;
	text-transform: uppercase;
}

main {
	flex: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2em;
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid black;
}


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  h1 {
    font-size: 3em;
	}
}
