@import url('https://fonts.googleapis.com/css?family=Arvo');

@import './app.scss';
@import './button.scss';
@import './message.scss';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-family: 'Arvo', serif;
}

html {
	height: 100%;
	width: 100%;
  font-size: 12px;
  color: #222222;
}

body {
	display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  min-height: 100vh;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  body {
    font-size: 1.2em;
  }
}
