html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
article,aside,figure,footer,header,hgroup,nav,section{display:block;}
@font-face{font-family:'Neue Helvetica';font-style:normal;font-weight:100;src:local('Neue'),url('/fonts/Neue Helvetica/HelveticaNeueLTCom-UltLt.ttf') format('truetype');}html{text-rendering:optimizeLegibility;}
body{font:normal 100% 'Neue Helvetica',Arial,sans-serif;}
h1{font-size:2em;}
h2{font-size:1.4em;}
input[type="search"]{font-size:1.0em;}
#content ul{list-style:none;}
a{text-decoration:none;}
header#header a:hover{color:#ffffff;}
body,a{color:rgba(255, 255, 255, 0.6);}
body{background-color:#1e283c;}
h2{color:rgba(150, 160, 180, 0.8);}
html,body{margin:0;padding:0;height:100%;width:100%;}
header#header{text-align:center;}
header#header{background-color:#283246;}
#container{margin:0 auto;position:relative;height:auto !important;height:100%;min-height:100%;}
footer#footer{position:absolute;width:100%;text-align:right;bottom:0;}
footer#footer p{margin:10px 10px;}
#map{height:100%;width:100%;}
div#noscript{padding:5px;text-align:center;color:white;background-color:black;}
#loader{z-index:1000;position:absolute;right:0;top:0;background-color:rgba(170, 0, 0, 0.6);color:white;padding:10px;visibility:hidden;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:'-';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
nav.menu ul li:hover>ul{display:block ;z-index:1000;}
nav.menu ul li{float:left;}
nav.menu ul ul li a:hover{background:#4b545f;}
nav.menu ul li:hover a{color:#fff ;cursor:pointer;}
nav.menu ul ul li a{font-size:0.7em;}
nav.menu ul ul{display:none;text-align:left;}
.filmCount{color:#babacb;font-weight:bold;}
nav.menu ul{list-style:none;position:relative;display:inline-table;}
nav.menu ul:after{content:"";clear:both;display:block;}
nav.menu ul li:hover{background:#4b545f;background:linear-gradient(top, #4f5964 0%, #5f6975 40%);background:-moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);background:-webkit-linear-gradient(top, #4f5964 0%, #5f6975 40%);}
nav.menu ul li a{display:block;padding:10px 10px 0px 10px;color:#757575;text-decoration:none;}
nav.menu ul ul{background:#5f6975;border-radius:0px;padding:0;position:absolute;top:100%;}
nav.menu ul ul li{float:none;border-top:1px solid #6b727c;border-bottom:1px solid #575f6a;position:relative;}
nav.menu ul ul li a{padding:5px 10px 5px 10px;color:#fff;}
nav.menu ul ul ul{position:absolute;left:100%;top:0;}
@media only screen and (min-width:20em){body{font-size:100%;}}@media only screen and (min-width:30em){body{font-size:120%;} header#header h1{margin-right:1em;} header#header{-moz-box-shadow:0 0 130px 130px rgba(255, 255, 255, 0.07);-webkit-box-shadow:0 0 130px 130px rgba(255, 255, 255, 0.07);box-shadow:0 0 130px 130px rgba(255, 255, 255, 0.07);} header#header h1,header#header nav{display:inline-block;}}@media only screen and (min-width:37.5em){}@media only screen and (min-width:48em){body{font-size:140%;}}@media only screen and (min-width:56.25em){body{font-size:180%;}}@media only screen and (min-width:68.75em){}@media only screen and (min-width:81.25em){}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){}h2{padding:0;}
h2{margin:0;}
#lean_overlay{position:fixed;z-index:1000;top:0px;left:0px;height:100%;width:100%;background:#000;display:none;}
#newLocation{width:600px;height:100px;padding:30px;display:none;background:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0px 0px 4px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);-moz-box-shadow:0 0px 4px rgba(0, 0, 0, 0.7);}
#newLocation label,#newLocation p{color:black;text-shadow:none;}
#newLocation label{margin-right:10px;}
#newLocation input[type="search"]{width:99% ;height:2.0em;padding:0.1em;}
.modal_close{position:absolute;top:12px;right:12px;display:block;width:14px;height:14px;background:url(/images/modal_close.png);z-index:2000;}
#signup{width:404px;padding-bottom:2px;display:none;background:#FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;box-shadow:0px 0px 4px rgba(0, 0, 0, 0.7);-webkit-box-shadow:0 0 4px rgba(0, 0, 0, 0.7);-moz-box-shadow:0 0px 4px rgba(0, 0, 0, 0.7);}
#signup-header{background:url(../img/hd-bg.png);padding:18px 18px 14px 18px;border-bottom:1px solid #CCC;border-top-left-radius:5px;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;border-top-right-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px;}
#signup-header h2{color:#444;font-size:2em;font-weight:700;margin-bottom:3px;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);}
#signup-header p{color:#444;font-size:1.3em;margin:0;text-shadow:1px 1px 0 rgba(255, 255, 255, 0.5);text-shadow:none;}
#signup .txt-fld{position:relative;width:364px;padding:14px 20px;border-bottom:1px solid #EEE;text-align:right;}
#signup .btn-fld{width:254px;overflow:hidden;padding:12px 20px 12px 130px;}
#signup .txt-fld label{display:block;float:left;width:90px;padding-top:8px;color:#222;font-size:1.3em;text-align:left;}
#signup .txt-fld input{width:244px;padding:8px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;font-size:1.2em;color:#222;background:#F7F7F7;font-family:"Helvetica Neue";outline:none;border-top:1px solid #CCC;border-left:1px solid #CCC;border-right:1px solid #E7E6E6;border-bottom:1px solid #E7E6E6;}
#signup .txt-fld input.good_input{background:#def5e1 url(../img/good.png) 236px center no-repeat;}
#signup .txt-fld input.error_input{background:#FDE0E0;}
p.error{position:absolute;bottom:48px;right:20px;width:262px;color:#FFF;font-size:1.1em;padding-bottom:5px;background:url(../img/error-arw.png) 20px bottom no-repeat;text-align:left;margin:0;text-shadow:none;}
p.error span{display:inline-block;background:#D43636;padding:6px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.txt-fld input:focus,.txt-fld textarea:focus{background-color:#FAF9DC;}
button{float:right;font-family:"Helvetica Neue","Helvetica","Arial",sans-serif;background:#3F9D4A;border:none;width:auto;overflow:visible;font-size:1.4em;color:#FFF;padding:7px 10px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;font-weight:bold;text-shadow:0 1px 0 rgba(0, 0, 0, 0.4);}
