<!DOCTYPE html>
<html>
<head>
<title>AH test</title>
  <link rel="stylesheet" type="text/css" href="css/bundle.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
</head>

<body>

  <div class="container main">

    <div class="row">
      <div class="four columns ah url round">&nbsp;</div>
      <div class="four columns">
        <select class="round selector">
          <option value="json" selected="selected">JSON</option>
          <option value="xml">XML</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="eight columns response round">&nbsp;</div>
    </div>
  
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>