.Para {
  font-size: 1.4em;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

.Para img {
  width: 80%;
  display: flex;
  border: 2px solid #ababab;
  margin-left: auto;
  margin-right: auto;
}

.Para a,
.Para a:link,
.Para a:visited,
.Para a:active {
  text-decoration: none;
  color: #c60000;
}

/*
.Para:first-child::first-letter {
  color: #BE6868;
  background-color:#efefef;
  font-size: 3.62em;
  line-height: 0.7em;
  margin: 0.07em 0.1em 0 0;
  padding: 0.1em 0.05em 0.05em 0.05em;
  float: left;
}
*/

.Para a:hover {
  cursor: pointer;
  background-color: #CFE6FD;
}

.Para img[data-src] {
  opacity: 0;
  position: absolute;
}

.Para:first-child + .Blockquote {
  margin-top: 2.6em;
}

.Para img {
  opacity: 1;
  transition: opacity 0.7s;
}

.Para .img+.img {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 600px) {
  .Para {
    font-size: 1.7em;
  }
}
