* {
  box-sizing: border-box;
}

/* add some spacing */
body          {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: #F6F6F6;
  padding-bottom: 30px;
}

/* limit the width and center */
.calculator   {
  max-width: 400px;
  margin: 0 auto;
  border: 2px solid #111;
  border-radius: 5px;
}

input {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border-bottom: 2px solid #111;
  color: #333;
  text-align: right;
  font-size: 30px;
  border-radius: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

button {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #111;
  padding: 15px;
  color: #EEE;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
  
.clear{
  grid-column: span 1;
  background-color: #7d84ac;

}

.zero {
  grid-column: span 2;
} 

.equals {
  grid-column: span 4;
  background-color: #608660;
}