<div class="form" id="logCall">
  <form id="logCallForm">
    <fieldset>
      <div class="set">
        <label>Priority</label>
        <input class="item" id="priority" type="text"></input>
      </div>
      <div class="set">
        <label>Service</label>
        <input class="item" id="service" type="text"></input>
      </div>
      <div class="set">
        <label>Summary</label>
        <input class="item" id="summary" type="text"></input>
      </div>
      <div class="set">
        <label>Description</label>
        <textarea class="item" id="description"></textarea>
      </div>
      <div class="set">
        <label></label>
        <div id="submitCall" class="button">Submit</div>
      </div>
    </fieldset>
  </form>
</div>