<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>#{name}</title>
		<link rel="stylesheet" href="/client/css/deviation_m.css">
	</head>
	<body id="{page}">
		<noscript>
			<div class="noscript">
				This site requires Javascript.
			</div>
		</noscript>
		<div id="container">
			Mobile site.
		</div>
	</body>
</html>