#home {
	margin: 20px 0px 20px 0px;
}

#home #content {
	padding-top: 50px;
}

.dashboard {
	width: 400px;
	margin: 0 auto;
}

.dashboard h3 {
	font-size: 18px;
	line-height: 18px;
	color: rgba(255,255,255,0.6);
}

.dashboardStrip {
	width: 380px;
	text-align: left;
	padding: 5px 5px 5px 5px;
	margin-bottom: 3px;
	opacity: 0.7;
	color: rgba(255,255,255,0.6);
	border-radius: 5px;
}

.dashboardStrip:hover {
	opacity: 1;
	cursor: pointer;
	color: rgba(255,255,255,1);
/*	-moz-box-shadow: 0 0 130px 130px rgba(255,255,255,0.07);
	-webkit-box-shadow: 0 0 130px 130px rgba(255,255,255,0.07);
	box-shadow: 0 0 130px 130px rgba(255,255,255,0.07);
*/
}

.dashboardStrip img {
	border: 0;
	margin-right: 10px;
	display: inline;
	float:left;
}

.dashboardStrip .date {
	font-size: 70%;
	margin: 0
}

#home .post {
	background-color: rgba(255, 63, 47, 0.4);
}

#home .spotmap {
	background-color: rgba(63, 147, 255, 0.4);
}

#home .kanban {
	background-color: rgba(67, 83, 200, 0.4);
}

#home .post:hover {
	cursor: pointer;
}