#tweetnation div.friend {
	display: block;
	width:1000px;
	clear:both;
	padding-top: 7px;
	padding-bottom: 10px;
	margin-top: 30px;
}

#tweetnation div.name {
	float:left;
	text-align: right;
	font-size: 12px;
	vertical-align: middle;
	width: 150px !important;
	margin-right: 10px;
	text-transform:uppercase
}

#tweetnation div.avatar,
#tweetnation div.avatar img {
	float:left;
	width: 30px;
	height: 30px;
}

#tweetnation div.pulse {
	float:left;
	background-color: red;
	width: 100%;
	padding: 0;
	margin: 0;
}